{% extends "layout.html" %}
{% block title %}Songlist - Flask App{% endblock %}

{% block content %}
<div class="container">
    <h1>新增歌曲</h1>
    <form method='post' action={{ url_for('insert') }}>
        <label for="id">歌曲名稱:</label>
        <input type="text" id="name" name="SongName"><br><br>

        <label for="id">作者:</label>
        <input type="text" id="auth" name="AuthName"><br><br>

        <label for="likelevel">喜好程度:</label>
        <select id="likelevel" name="LikeLevel">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br><br>


        <ul>
            {% for tag in tags %}
            <li>
                <label>
                    <input type="checkbox" name="Tag" value="{{tag}}">
                    {{tag}}
                </label>
            </li>
            <!-- <option value="{{ student }}">{{ student }}</option> -->
            {% endfor %}
        </ul>
        <input type="submit" value="新增">
    </form>
    {{info}}
</div>


{% endblock %}